
  <div class="degrade2">
      <ul class="nav">
        <li><a routerLink="/recipes/entree" style="color:forestgreen">Entrées</a></li>
        <li><a routerLink="/recipes/dishes" style="color:crimson">Plats</a></li>
        <li><a routerLink="/recipes/desserts" style="color:chocolate">Desserts</a></li>
      </ul>
    </div>
  
    <div class="degrade3">
      <ul class="nav">
        <li><a routerLink="/recipes/fishes" style="color: cornflowerblue">Poissons</a></li>
        <li><a routerLink="/recipes/meats" style="color: brown">Viandes</a></li>
      </ul>
    </div>
  
    <div class="degrade4">
      <ul class="nav">
        <li><a routerLink="/recipes/vegetables" style="color:green">Légumes</a></li>
        <li><a routerLink="/recipes/starches" style="color: goldenrod">Féculents</a></li>
        <li><a routerLink="/recipes/fruits" style="color: red">Fruits</a></li>
      </ul>
    </div>
