
  <div class="degrade2">
      <ul class="nav">
        <li><a routerLink="/recipes/entree" style="color:forestgreen">Entrées</a></li>
        <li><a routerLink="/recipes/dish" style="color:crimson">Plats</a></li>
        <li><a routerLink="/recipes/dessert" style="color:chocolate">Desserts</a></li>
      </ul>
    </div>
  
    <div class="degrade3">
      <ul class="nav">
        <li><a routerLink="/recipes/fish" style="color: cornflowerblue">Poissons</a></li>
        <li><a routerLink="/recipes/meat" style="color: brown">Viandes</a></li>
      </ul>
    </div>
  
    <div class="degrade4">
      <ul class="nav">
        <li><a routerLink="/recipes/vegetable" style="color:green">Légumes</a></li>
        <li><a routerLink="/recipes/starch" style="color: goldenrod">Féculents</a></li>
        <li><a routerLink="/recipes/fruit" style="color: red">Fruits</a></li>
      </ul>
    </div>
