.degrade2 {
    background-image: radial-gradient(white, orange);
}

.degrade3 {
    background-image: radial-gradient(yellow, orange);
}

.degrade4 {
    background-image: radial-gradient(lightyellow, orange);
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.nav li {

    text-shadow: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline-block;
    padding: 60px;
    margin: 80px;
    
    
}

button {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 40 px;
    display: inline-block;
}

