.degrade1 {
    background-image: radial-gradient(white, lightyellow);
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

div {
    text-align: center;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px;
}

