  
    <div class="degradeX">
    <div class="degrade1">
      <img class="logo" src="assets/Logo_Angular2.png">
      <h1 style="color: blue;">
        Diabète<span style="color:crimson">&</span>
        <span style="color:forestgreen">Plaisirs de la Table</span>
      </h1>
  

      <select>
        <option hidden selected>Je suis un(e) : </option>
        <option value="diabétique Type I">diabétique Type I</option>
        <option value="diabétique Type II">diabétique Type II</option>
        <option value="diabétique gestationnel">diabétique gestationnel</option>
        <option value="ado diabétique">ado diabétique</option>
      </select> 

      <button (click)="showLogin=!showLogin">Se connecter</button>
      <button routerLink="/createLogin">Créer son compte</button>
    </div>

 <app-login *ngIf="showLogin"></app-login>
   
<router-outlet></router-outlet>

</div>
