

<mat-card *ngIf="recipe">
  <mat-card-title>{{ recipe.name }}</mat-card-title>
  <mat-card-subtitle>{{ recipe.author }}</mat-card-subtitle>
  <button class="button" routerLink="/recipe-details/{{recipe.id}}" >Voir la recette</button>
  <br><br>
  <img mat-card-image src="{{ recipe.image }}" />
  <mat-card-content>
    <table class="table">
      <tr>
        <td><img src="{{recipe.numberPersons.icone}}" class="icone" /></td>
        <td class="libelle">{{recipe.numberPersons.quantity}}</td>
      </tr>

      <tr>
          <td><img src="{{recipe.sugar.icone}}" class="icone" /></td>
          <td class="libelle">{{recipe.sugar.quantity}}</td>
      </tr>

      <tr>
        <td><img src="{{recipe.fat.icone}}" class="icone" /></td>
        <td class="libelle">{{recipe.fat.quantity}}</td>
      </tr>

      <tr>
        <td><img src="{{recipe.ease.icone}}" class="icone" /></td>
        <td class="libelle">{{recipe.ease.quantity}}</td>
      </tr>

      <tr>
        <td> <img src="{{recipe.cost.icone}}" class="icone" /></td>
        <td class="libelle">{{recipe.cost.quantity}}</td>
      </tr>

      <tr>
        <td><img src="{{recipe.timePreparation.icone}}" class="icone" /></td>
        <td class="libelle"> {{recipe.timePreparation.quantity}}</td>
      </tr>
      
      <tr>
        <td><img src="{{recipe.timeCooking.icone}}" class="icone" /></td>
        <td class="libelle">{{recipe.timeCooking.quantity}}</td>
      </tr>

    </table>
    <br><br>
    Ingrédients :
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}} {{ingredient.name}}</li>
    </ul>
    
  </mat-card-content>
</mat-card>

