mat-card {
    display: inline-block;
    text-align: center;
    height: 1550px;
    width:900px;
}


mat-card-title {
    font-size:16px;
}
.author {
    font-style: italic;
    font-size:11px;
    font-weight:normal;
}
.mat-card-image {
    height: 250px;
    width: 270px;
}

.icone {
    width:40px;
    height:40px;
}
.libelle {
    padding-left:10px;
}

.ingrédients {
    font-size: 14px;
}

.procédure {
    font-size: 14px;
}
.li {
    margin-bottom: 10px;
}